<div class=" text-center" ng-init="get()">
	<h1>{{label.createOrEdit}} {{controlNameSingular}} {{label.other}}</h1>
    <div id="alertMessage" ng-if="messageShow" ng-class="messageClass" class="alert" role="alert">
        {{messageText}}
    </div>
</div>

<form name="form" ng-submit="createOrUpdate(form.$valid,_id)" novalidate>
    
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6 col-md-10">
                {{label.data}} {{label.cliente}}
            </div>
            <div class="col-xs-6 col-md-2  text-right">
                <button type="button" class="btn btn-warning btn-sm" ng-click="resetCliente()" ng-hide="formTemp.noEditable">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{label.delete}} {{label.cliente}}</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
    
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="cliente._id">{{model.cliente._id}}</label>
                <select style="width:100%;" chosen
                        options="Clientes"
                        allow-single-deselect='true'
                        data-placeholder-text-single="'{{model.cliente._id}}'"
                        data-ng-model="formData.cliente._id"
                        data-ng-options="cliente._id as cliente.nombre_completo + ((cliente.credencial)? ' - '+cliente.credencial : '') for cliente in Clientes"
                        ng-change="getDataCliente()"
                        ng-disabled="formTemp.lockCliente">
                        <option value=""></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.clienteNombre.$touched && form.clienteNombre.$invalid }">
                <label for="clienteNombre">{{model.cliente.nombre}}</label>
                <input type="text" name="clienteNombre" class="form-control" placeholder="{{model.cliente.nombre}}" ng-model="formData.cliente.nombre" ng-readonly="formTemp.lockCliente" required>
                <div class="help-block" ng-messages="form.clienteNombre.$error" ng-if="form.clienteNombre.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.clienteApPaterno.$touched && form.clienteApPaterno.$invalid }">
                <label for="clienteApPaterno">{{model.cliente.apPaterno}}</label>
                <input type="text" name="clienteApPaterno" class="form-control" placeholder="{{model.cliente.apPaterno}}" ng-model="formData.cliente.apPaterno" ng-readonly="formTemp.lockCliente" required>
                <div class="help-block" ng-messages="form.clienteApPaterno.$error" ng-if="form.clienteApPaterno.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.clienteApMaterno.$touched && form.clienteApMaterno.$invalid }">
                <label for="clienteApMaterno">{{model.cliente.apMaterno}}</label>
                <input type="text" name="clienteApMaterno" class="form-control" placeholder="{{model.cliente.apMaterno}}" ng-model="formData.cliente.apMaterno" ng-readonly="formTemp.lockCliente" required>
                <div class="help-block" ng-messages="form.clienteApMaterno.$error" ng-if="form.clienteApMaterno.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6" ng-class="{ 'has-error': form.clienteDireccion.$touched && form.clienteDireccion.$invalid }">
                <label for="clienteDireccion">{{model.cliente.direccion}}</label>
                <input type="text" name="clienteDireccion" class="form-control" placeholder="{{model.cliente.direccion}}" ng-model="formData.cliente.direccion" ng-readonly="formTemp.lockCliente" required>
                <div class="help-block" ng-messages="form.clienteDireccion.$error" ng-if="form.clienteDireccion.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.clienteTelefono.$touched && form.clienteTelefono.$invalid }">
                <label for="clienteTelefono">{{model.cliente.telefono}}</label>
                <input type="text" name="clienteTelefono" class="form-control" placeholder="{{model.cliente.telefono}}" ng-model="formData.cliente.telefono" ng-readonly="formTemp.lockCliente">
                <div class="help-block" ng-messages="form.clienteTelefono.$error" ng-if="form.clienteTelefono.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.clienteEmail.$touched && form.clienteEmail.$invalid }">
                <label for="clienteEmail">{{model.cliente.email}}</label>
                <input type="email" name="clienteEmail" class="form-control" placeholder="{{model.cliente.email}}" ng-model="formData.cliente.email" ng-readonly="formTemp.lockCliente" >
                <div class="help-block" ng-messages="form.clienteEmail.$error" ng-if="form.clienteEmail.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <label for="cliente.afiliado">{{model.cliente.afiliado}}</label>
                <div class="form-group">
                    <div class="radio-inline">
                        <label><input type="radio" name="cliente.afiliado" value="Si" ng-model="formData.cliente.afiliado" ng-change="getDataPrograma()" ng-disabled="formTemp.lockCliente">{{label.yes}}</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="cliente.afiliado" value="No" ng-model="formData.cliente.afiliado" ng-change="getDataPrograma()" ng-disabled="formTemp.lockCliente">{{label.no}}</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.clienteCredencial.$touched && form.clienteCredencial.$invalid }" ng-show="formData.cliente.afiliado == 'Si'">
                <label for="clienteCredencial">{{model.cliente.credencial}}</label>
                <input type="number" name="clienteCredencial" class="form-control" placeholder="{{model.cliente.credencial}}" ng-model="formData.cliente.credencial" ng-readonly="formTemp.lockCliente" ng-required="formData.cliente.afiliado == 'Si'">
                <div class="help-block" ng-messages="form.clienteCredencial.$error" ng-if="form.clienteCredencial.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 text-left" style="padding-top: 25px;" ng-show="formData.cliente.afiliado == 'Si'" >
                <button type="button" class="btn btn-info btn-sm" ng-click="getDataClienteByCredencial()" ng-disabled="formTemp.lockCliente">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> {{label.search}}</button>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default" ng-hide="formTemp.noEditable">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6 col-md-10">
                {{label.data}} {{label.busqueda}}
            </div>
            <div class="col-xs-6 col-md-2  text-right">
                <button type="button" class="btn btn-warning btn-sm" ng-click="resetProgramasSearch()">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{label.delete}} {{label.busqueda}}</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <label for="especialidad">{{modelTemp.especialidad}}</label>
                <select style="width:100%;" chosen
                        options="Especialidades"
                        allow-single-deselect='true'
                        data-placeholder-text-single="'{{modelTemp.especialidad}}'"
                        data-ng-model="formTemp.especialidad"
                        data-ng-options="especialidad._id as especialidad.nombre for especialidad in Especialidades"
                        ng-change="getProgramasByEspecialidad()">
                        <option value=""></option>
                </select>
            </div>
            <div class="col-xs-12 col-md-3">
                <label for="programa">{{modelTemp.programa}}</label>
                <select style="width:100%;" chosen
                        options="Programas"
                        allow-single-deselect='true'
                        data-placeholder-text-single="'{{modelTemp.programa}}'"
                        data-ng-model="formTemp.programa"
                        data-ng-options="programa._id as programa.nombre for programa in Programas"
                        ng-change="getDataPrograma()">
                        <option value=""></option>
                </select>
            </div>
            <div class="col-xs-12 col-md-3">
                <label for="proveedor">{{modelTemp.proveedor}}</label>
                <select style="width:100%;" chosen
                        options="Proveedores"
                        allow-single-deselect='true'
                        data-placeholder-text-single="'{{modelTemp.proveedor}}'"
                        data-ng-model="formTemp.proveedor"
                        data-ng-options="proveedor._id as proveedor.nombre_completo for proveedor in Proveedores">
                        <option value=""></option>
                </select>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.total.$touched && form.total.$invalid }">
                <label for="total">{{modelTemp.total}}</label>
                <input type="number" name="total" class="form-control" placeholder="{{modelTemp.total}}" ng-model="formTemp.total" readOnly>
                <div class="help-block" ng-messages="form.total.$error" ng-if="form.total.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-1 text-left" style="padding-top: 20px;" >
                <button type="button" class="btn btn-success btn-sm" ng-click="addPrograma()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{label.agregar}}</button>
            </div>
            <div class="col-xs-6 col-md-3 col-md-offset-5">
                <label for="tiene_descuento">{{modelTemp.tiene_descuento}}</label>
                <div class="form-group">
                    <div class="radio-inline">
                        <label><input type="radio" name="tiene_descuento" value="Si" ng-model="formTemp.tiene_descuento" ng-change="getDataPrograma()" ng-disabled="formData.cliente.afiliado=='Si' || formTemp.cortesia=='Si'">{{label.yes}}</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="tiene_descuento" value="No" ng-model="formTemp.tiene_descuento" ng-change="getDataPrograma()" ng-disabled="formData.cliente.afiliado=='Si' || formTemp.cortesia=='Si'">{{label.no}}</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <label for="cortesia">{{modelTemp.cortesia}}</label>
                <div class="form-group">
                    <div class="radio-inline">
                        <label><input type="radio" name="cortesia" value="Si" ng-model="formTemp.cortesia" ng-change="getDataPrograma()">{{label.yes}}</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="cortesia" value="No" ng-model="formTemp.cortesia" ng-change="getDataPrograma()">{{label.no}}</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6 col-md-10">
                {{label.data}} {{label.programas}}
            </div>
            <div class="col-xs-6 col-md-2  text-right">
                <button type="button" class="btn btn-warning btn-sm" ng-click="resetProgramasTable()" ng-hide="formTemp.noEditable">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{label.delete}} {{label.programas}}</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
    
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <table class="table">
                    <thead>
                        <th ng-show="formTemp.statusEditable">{{model.programas.pagado}}</th>
                        <th>{{model.programas.nombre}}</th>
                        <th>{{model.programas.precio}}</th>
                        <th>{{model.programas.descuento}}</th>
                        <th>{{model.programas.total}}</th>
                        <th>{{model.programas.proveedor}}</th>
                        <th>{{model.programas.especialidad}}</th>
                        <th>{{model.programas.tiene_descuento}}</th>
                        <th>{{model.programas.cortesia}}</th>
                        <th ng-hide="formTemp.noEditable">{{label.delete}}</th>
                    </thead>
                    <tbody>
                        <!--LOPP OVER INSTANCE -->
                        <tr ng-repeat="instance in formData.programas" ng-show="formData.programas.length > 0">
                            <td ng-show="formTemp.statusEditable">{{instance.pagado}}</td>
                            <td>{{instance.nombre}}</td>
                            <td>{{instance.precio}}</td>
                            <td>{{instance.descuento}}</td>
                            <td>{{instance.total}}</td>
                            <td>{{instance.proveedor.nombre}}</td>
                            <td>{{instance.especialidad.nombre}}</td>
                            <td>{{instance.tiene_descuento}}</td>
                            <td>{{instance.cortesia}}</td>
                            <td ng-hide="formTemp.noEditable"><button type="button" class="btn btn-danger btn-sm" ng-click="removePrograma(instance)">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{label.delete}}</button></td>
                        </tr>
                        <!--END LOOP -->
                        <tr ng-if="formData.programas.length <= 0">
                            <td colspan="6">{{label.noResults}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-md-offset-9" ng-class="{ 'has-error': form.monto_total.$touched && form.monto_total.$invalid }">
                <label for="monto_total">{{model.monto_total}}</label>
                <input type="number" name="monto_total" class="form-control" placeholder="{{model.monto_total}}" ng-model="formData.monto_total" readOnly>
                <div class="help-block" ng-messages="form.monto_total.$error" ng-if="form.monto_total.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">{{model.comentario}}</div>
    <div class="panel-body">
    
        <div class="row">
            <div class="col-xs-12 col-md-12" ng-class="{ 'has-error': form.comentario.$touched && form.comentario.$invalid }">
                <textarea type="text" name="comentario" class="form-control" placeholder="{{model.comentario}}" ng-model="formData.comentario" ng-required="formTemp.cortesia == 'Si' || formTemp.tiene_descuento == 'Si'">
                </textarea>
                <div class="help-block" ng-messages="form.comentario.$error" ng-if="form.comentario.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="panel panel-default" ng-show="formTemp.statusEditable">
    <div class="panel-heading">{{label.data}}</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <label for="folio">{{model.folio}}:</label> {{formData.folio_ficha}}<br/>
                <label for="pagado">{{model.pagado}}:</label> {{formData.pagado}}<br/>
                <label for="pagado">{{model.fecha_pago}}:</label> {{formData.fecha_pago}}<br/>
                <label for="pagado">{{model.pagado}} parcialmente:</label> {{formData.pagado_parcialmente}}<br/>
            </div>
            <div class="col-xs-12 col-md-4">
                <label for="usuario._id">{{model.usuario._id}} creo:</label> {{formData.usuario.nombre}}<br/>
                <label for="fecha_alta">{{model.fecha_alta}}:</label> {{formData.usuario.fecha}}<br/>
                <label for="usuario._id">{{model.usuario._id}} modifico:</label> {{formData.usuario_modifico.nombre}}<br/>
                <label for="fecha_alta">{{model.fecha_alta}}:</label> {{formData.usuario_modifico.fecha}}
            </div>
            <div class="col-xs-12 col-md-4" ng-show="_.contains(privilegios,controllerInstance+'-estado')">
                <label for="pagado">{{model.estado}}</label> {{formData.estado}}<br>
                <button type="button" class="btn btn-danger btn-sm" ng-click="cancelarFicha()">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{label.cancel}}</button>
            </div>
        </div>

    </div>
</div>



<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left" >
        <br><a class="button btn btn-default" href="/{{controllerInstance}}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  {{label.back}}</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right" >
        <br><button name="submit" class="btn btn-primary" ng-disabled="formTemp.lockButtonSave"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> {{label.save}}</button>
    </div>
</div>


<br/>
</form>