<div class=" text-center" ng-init="get()">
	<h1>{{label.createOrEdit}} {{controlNameSingular}}</h1>
    <div ng-if="messageShow" ng-class="messageClass" class="alert" role="alert">
        {{messageText}}
    </div>
</div>

<form name="form" ng-submit="createOrUpdate(form.$valid,_id)" novalidate>

<div class="panel panel-default">
    <div class="panel-heading">{{label.data}}</div>
    <div class="panel-body">
    
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.nombre.$touched && form.nombre.$invalid }">
                <label for="nombre">{{model.nombre}}</label>
                <input type="text" name="nombre" class="form-control" placeholder="{{model.nombre}}" ng-model="formData.nombre" required>
                <div class="help-block" ng-messages="form.nombre.$error" ng-if="form.nombre.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.apPaterno.$touched && form.apPaterno.$invalid }">
                <label for="apPaterno">{{model.apPaterno}}</label>
                <input type="text" name="apPaterno" class="form-control" placeholder="{{model.apPaterno}}" ng-model="formData.apPaterno" required>
                <div class="help-block" ng-messages="form.apPaterno.$error" ng-if="form.apPaterno.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.apMaterno.$touched && form.apMaterno.$invalid }">
                <label for="apMaterno">{{model.apMaterno}}</label>
                <input type="text" name="apMaterno" class="form-control" placeholder="{{model.apMaterno}}" ng-model="formData.apMaterno" required>
                <div class="help-block" ng-messages="form.apMaterno.$error" ng-if="form.apMaterno.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.telefono.$touched && form.telefono.$invalid }">
                <label for="telefono">{{model.telefono}}</label>
                <input type="text" name="telefono" class="form-control" placeholder="{{model.telefono}}" ng-model="formData.telefono" required>
                <div class="help-block" ng-messages="form.telefono.$error" ng-if="form.telefono.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
                <label for="email">{{model.email}}</label>
                <input type="email" name="email" class="form-control" placeholder="{{model.email}}" ng-model="formData.email" >
                <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.rfc.$touched && form.rfc.$invalid }">
                <label for="rfc">{{model.rfc}}</label>
                <input type="text" name="rfc" class="form-control" placeholder="{{model.rfc}}" ng-model="formData.rfc" required>
                <div class="help-block" ng-messages="form.rfc.$error" ng-if="form.rfc.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.cedula.$touched && form.cedula.$invalid }">
                <label for="cedula">{{model.cedula}}</label>
                <input type="text" name="cedula" class="form-control" placeholder="{{model.cedula}}" ng-model="formData.cedula" required>
                <div class="help-block" ng-messages="form.cedula.$error" ng-if="form.cedula.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.curp.$touched && form.curp.$invalid }">
                <label for="curp">{{model.curp}}</label>
                <input type="text" name="curp" class="form-control" placeholder="{{model.curp}}" ng-model="formData.curp" required>
                <div class="help-block" ng-messages="form.curp.$error" ng-if="form.curp.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">{{label.management}}</div>
    <div class="panel-body">
    
       <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="especialidades">{{model.especialidades}}</label>
                <select style="width:100%;" chosen multiple
                        options="Especialidades"
                        placeholder-text-multiple="'{{model.especialidades}}'"
                        data-ng-model="formData.especialidades"
                        data-ng-options="especialidad._id as especialidad.nombre for especialidad in Especialidades">
                        <option value=""></option>
                </select>
            </div>
            <div class="col-xs-12 col-md-3" ng-show="_.contains(privilegios,controllerInstance+'-estado')">
                <label for="estado">{{model.estado}}</label>
                <div class="form-group">
                    <div class="radio-inline">
                        <label><input type="radio" name="estado" value="Activo" ng-model="formData.estado">{{label.active}}</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="estado" value="Inactivo" ng-model="formData.estado">{{label.inactive}}</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left" >
        <br><a class="button btn btn-default" href="/{{controllerInstance}}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  {{label.back}}</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right" >
        <br><button name="submit" class="btn btn-primary" ng-disabled="formTemp.lockButtonSave"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> {{label.save}}</button>
    </div>
</div>


<br/>
</form>